# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env files
.env
.env.*
!.env.example
!.env.production.example

# Python
.venv/
__pycache__/
*.pyc

# Editor / OS
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
*.local
*.tsbuildinfo

# markdown files
INTERVIEW_NOTES.md

statement.csv